@use '../style.scss' as ui;

.root {
  grid-area: json;
  font-family: ui.$fontCode;

  * {
    font-family: ui.$fontCode;
  }
}

.label {
  font-weight: bold;
  color: #8e004b;
}
.itemString {
  color: #aaaaaa;
}

.circular {
  margin-left: 4px;
  padding: 0px 3px;
  border-radius: 4px;
  border: 1px solid #d3e2fd;
  background: #f4f6fc;
  font-weight: bold;
  color: #1c6ef3;
  cursor: help;
}
