@use '../style.scss' as ui;

.root {
  grid-area: json;
  font-family: ui.$fontCode;

  * {
    font-family: ui.$fontCode;
  }
}

.label {
  font-weight: bold;
  color: #8e004b;
}
.itemString {
  color: #aaaaaa;
}
