@use '../style.scss' as ui;

$topBarHeight: 27px;

.root {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar {
  flex: 0 0 $topBarHeight;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 7px;
  width: 100%;
  background: #f3f6fc;
  border-bottom: 1px solid #d3e3fd;
  user-select: none;
}

.icons {
  display: flex;
  align-items: center;
}

.panelIcon {
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 2px;

  svg {
    stroke: #474747;
  }

  &.active {
    svg {
      stroke: #1b6ef3;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.meta {
  padding: 6px 8px;
  border-bottom: 1px solid #d3e3fd;

  * {
    font-family: ui.$fontCode;
  }

  li {
    padding: 3px;
  }

  strong {
    font-weight: bold;
    font-family: ui.$fontUi;
  }
}

.json {
  overflow-y: auto;

  & > div {
    padding: 0 8px 8px 8px;
  }
}

.arg {
  border-left: 1px solid transparent;

  &:hover {
    border-left: 1px solid #d3e3fd;
  }
}

.return {
  border-top: 1px solid #d3e3fd;
}
